* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* <------------- Logo ------------->*/

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrap img {
    max-width: 100%;
    width: 10%;
    border-radius: 50%;
    margin-top: 10px;
}


/* <------------- Navbar ------------->*/

.navbar .navbar-collapse {
    text-align: center;
}

.nav-link {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: black !important;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    color: #212121 !important;
    padding: 10px 20px !important;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #6fb321 !important;
}


/* <------------- Slider ------------->*/


.slider .slick-slide {
    height: 100vh;
    outline: none;
    max-width: 100%;
}

.slick-prev {
    left: 10px !important;
    z-index: 1 !important;
}

.slick-next {
    right: 10px !important;
}

.slick-next:before {
    color: #6fb321 !important;
}

.slick-prev:before {
    color: #6fb321 !important;
}

.first-slide {
    background-image: url(../img/slider-1.png);
    /* background-position: center bottom; */
    background-position: 0px -290px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.second-slide {
    background-image: url(../img/slider-2.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* <------------- Hero ------------->*/

#hero {
    overflow: hidden;
}

.text-wrap {
    width: 600px;
    text-align: center;
    position: absolute;
    top: 20%;
}

.arrivals {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 43px;
    color: rgb(51, 51, 51);
}

.beetox {
    font-family: 'Playfair Display', serif;
    color: rgb(111, 179, 33);
    line-height: 59px;
    font-weight: 900;
    font-size: 96px;
}

.last {
    font-size: 21px;
    color: rgb(51, 51, 51);
}

.shop-now {
    background: linear-gradient(90deg, rgb(241, 152, 51) 0%, rgb(113, 179, 33) 100%);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-align: inherit;
    line-height: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    border-color: rgba(255, 255, 255, 0);
    margin: 0px;
    border-radius: 50px;
    padding: 12px 35px;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform-origin: 50% 50% 0px;
    border-width: 0px;
    border-style: solid;
}

.shop-now:hover {
    background: linear-gradient(90deg, rgb(113, 179, 33) 0%, rgb(241, 152, 51) 100%);
}


/* <------------- After Hero ------------->*/


.after-hero {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.after-hero-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 25px;
    height: 100% auto;
    width: 50%;
}

.after-text-wrap {
    margin-left: 15px;
}

.after-text-wrap p:first-child {
    color: black;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}

.after-text-wrap p:last-child {
    font-size: 15px;
    line-height: 1.3em;
    color: #666;
    font-weight: 300;
    margin: 0;
}

/* <------------- Products ------------->*/

#products {
    overflow: hidden;
}

#products h1 {
    font-family: "Great Vibes", Kreon;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f4900a;
}

#products h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #212121;
}

.products-text {
    text-align: center;
    margin-top: 150px;
}

.product-col {
    margin-top: 70px;
}

.product-col img {
    transition: all 0.2s;
}

.product-col img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product-col p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    transition: all 0.2s;
}

.product-col p:hover {
    color: #f4900a;
    cursor: pointer;
}

.product-col p:last-child {
    color: #f4900a;
}

/* <------------- Happy ------------->*/

#happy {
    background-image: url(../img/bg-banner-h1-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy-text-wrap {
    text-align: center;
    overflow: hidden;
}

.happy-text-wrap h1 {
    font-family: "Playfair Display", Kreon;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2em;
    color: #6fb321;
    overflow: hidden;
}

.happy-text-wrap p {
    font-size: 24px;
    color: black;
    font-weight: 400;
    overflow: hidden;
}

/* <------------- About ------------->*/

.about-col {
    text-align: right;
}

.about-col p:first-child {
    font-family: "Great Vibes", Kreon;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f4900a;
    margin: 0;
}

.ocbee {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #212121;
    margin: 0;
    margin-bottom: 25px;
}

.about-desc {
    line-height: 1.56;
    color: #666;
    font-family: "Kreon", Kreon;
    font-weight: 300;
}

.about-btn {
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(90deg, #f7a615 0%, #77b220 100%);
    border-radius: 30px;
    padding: 15px 40px;
    font-family: "Kreon", Kreon;
    font-weight: 400;
    font-size: 15px;
    border: none;
    color: white;
    fill: #fff;
}

.about-btn:hover {
    background: linear-gradient(90deg, rgb(113, 179, 33) 0%, rgb(241, 152, 51) 100%);
}

.about-list {
    list-style: none;
}

.about-list-item i {
    color: #71b321;
    font-size: 24px;
    transition: all 0.2s;
}

.about-list-item i:hover {
    color: #f4900a;
}

.about-list-item span {
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    align-self: center;
    padding-left: 5px;
    color: #666;
}

.useful span:first-child {
    color: #f4900a;
    font-size: 1.5rem;
    font-weight: 500;
}

.useful p:first-child {
    font-size: 1.5rem;
}

/* <------------- Feedback ------------->*/

#feedback {
    background-image: url(../img/bg-banner-h1-2.jpg);
    background-size: cover;
    padding: 85px 0 70px;
    text-align: center;
    padding: 5% 20%;
    margin-top: 80px;
}

#feedback p:first-child {
    font-size: 20px;
    font-style: italic;
    line-height: 1.4em;
    color: #666;
    font-family: "Kreon", Kreon;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.author {
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
    font-family: "Kreon", Kreon;
    margin-top: 10px;
}

#feedback p:last-child {
    color: #f4900a;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

/* <------------- Blog ------------->*/

.blog-heading {
    text-align: center;
    margin-top: 70px;
}

.blog-heading h1 {
    color: #f4900a;
    font-family: "Great Vibes", Kreon;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog-heading h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: "Kreon", Kreon;
    color: #212121;
}

.blog-card {
    height: 100%;
    padding-bottom: 100px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transition: all 0.2s;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    margin-right: 2rem;
}

.blog-card:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.blog-img {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    transition: all .2s ease-in-out;
}

/* .blog-img:hover {
    transform: scale(1.1);
} */

.img-banner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 159px;
}

.img-banner p {
    background: #f4900a;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 3px 15px;
    color: #fff;
}

.after-banner-text {
    text-align: center;
    margin-top: 15px;
}

.after-banner-text p {
    color: #212121;
    font-size: 20px;
    font-family: "Kreon", Kreon;
    font-weight: 400;
}

.after-banner-text a {
    text-decoration: none;
    font-family: "Kreon", Kreon;
    font-weight: 300;
    background: 0 0;
    color: #f4900a;
    transition: all 0.3s;
    text-transform: uppercase;
}

.after-banner-text a:hover {
    color: #212121;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

/* <------------- Contact ------------->*/

#contact {
    background-image: url(../img/bg-banner-h1-3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 70px;
}

.form-btn {
    background: linear-gradient(90deg, rgb(241, 152, 51) 0%, rgb(113, 179, 33) 100%);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-align: inherit;
    line-height: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    border-color: rgba(255, 255, 255, 0);
    margin: 0px;
    border-radius: 50px;
    padding: 12px 35px;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform-origin: 50% 50% 0px;
    border-width: 0px;
    border-style: solid;
}

.form-btn:hover {
    background: linear-gradient(90deg, rgb(113, 179, 33) 0%, rgb(241, 152, 51) 100%);
}

.form-btn:focus {
    outline: none;
}

.info {
    color: #212121;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: "Kreon", Kreon;
}

.adress,
.call {
    line-height: 1.5;
    text-align: center;
    color: #666;
    font-family: "Kreon", Kreon;
    font-weight: 300;
    margin-bottom: .25rem !important;
}

.phone {
    color: #f4900a;
    font-weight: 300;
}

.mail {
    line-height: 1.5;
    text-align: center;
    color: #666;
    font-family: "Kreon", Kreon;
    font-weight: 300;
    margin-bottom: .25rem !important;
}

/* <------------- Footer ------------->*/

#footer {
    background-color: #212121;
    padding: 25px 0;
    text-align: center;
}

#footer p {
    color: white;
    font-size: 15px;
    font-family: "Kreon", Kreon;
    font-weight: 300;
}

#footer span {
    color: #f4900a;
    font-size: 15px;
    font-family: "Kreon", Kreon;
    font-weight: 300;
}

/* <------------- Media ------------->*/

@media (max-width: 1920px) {

    .burger-logo {
        display: none;
    }

    .logo-wrap img {
        width: 7%;
    }

    .first-slide-text-wrap {
        padding-top: 150px;
        padding-left: 360px;
    }

    #hero {
        margin-bottom: 100px;
    }
}

@media (max-width: 1360px) {

    .burger-logo {
        display: none;
    }


    .logo-wrap img {
        width: 10%;
    }


    .first-slide-text-wrap {
        padding-top: 50px;
        padding-left: 100px;
    }
}

@media (max-width: 768px) {

    .logo-wrap {
        display: none;
    }


    .burger-logo {
        width: 12%;
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 50%;
    }


    .logo-wrap img {
        width: 17%;
    }

    .first-slide-text-wrap p {
        text-align: center;
    }

    .first-slide {
        background-position: center bottom;
    }

    #after-hero {
        padding: 0 25px;
    }


    .beetox {
        font-size: 50px;
    }

    .last {
        font-size: 15px;
    }

    .first-slide-text-wrap {
        padding-top: 10%;
        padding-left: 0;
    }

    .text-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 0;
        padding-left: 0;
        position: static;
    }

    .hero {
        text-align: center;
    }

    .after-hero-wrap {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .after-hero-wrap img {
        max-width: 50%;
        margin: 0 auto;
    }

    .about-col {
        text-align: center;
    }

    .useful p:first-child {
        text-align: center;
    }

    .about-btn {
        margin-bottom: 25px;
    }

    .blog-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .contact-wrap {
        margin-top: 25px;
    }

    #contact {
        background-size: cover;
    }
}